<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ETWAnalyzer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <dependentAssembly>
      <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
      <bindingRedirect oldVersion="6.0.0.0" newVersion="5.0.0.0" />
    </dependentAssembly>
  </runtime>
  <applicationSettings>
        <ETWAnalyzer.Settings>
            <setting name="SymbolDownloadFolder" serializeAs="String">
                <value>C:\Symbols</value>
            </setting>
            <setting name="SymbolServerMS" serializeAs="String">
                <value>SRV*C:\Symbols*https://msdl.microsoft.com/download/symbols</value>
            </setting>
            <setting name="SymbolServerSyngo" serializeAs="String">
                <value>SRV*C:\Symbols*https://build-syngo.healthcare.siemens.com/symbols/</value>
            </setting>
            <setting name="SymbolServerGoogle" serializeAs="String">
                <value>SRV*C:\Symbols*https://chromium-browser-symsrv.commondatastorage.googleapis.com</value>
            </setting>
        </ETWAnalyzer.Settings>
    </applicationSettings>
</configuration>
